 body{ 
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    justify-items: center;
    background-color: rgb(237, 237, 210);
}
 input{ 
    border:none;
    
    background-color: rgb(124, 213, 146);
    border-radius: 5px;
    padding:20px;
   
   
}
#wrapper { 
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: rgb(239, 184, 174);
    border:none;
    border-radius: 40px;
    padding:30px;
    margin:200px auto;
    height:300px;
    width:400px;
}
 button{ 
    border:none;
    border-radius:10px;
    background-color: rgb(185, 198, 225);
    padding:20px;
    cursor: pointer;
}
 #wrapper div ,h2{ 
    display:flex;
    justify-content: center;
}


