div.name{
    text-align: center;
    color:black ;
    text-transform: capitalize;
}
div.sub{
    text-align: center;
    text-transform: uppercase;
}
div.image{
    text-align:center;
    
}
div.end{

    text-align:center;}


